header
{background:#bbbbbb;
padding:20px 0;}

.logocat
{width: 30% }

.caixa{
  position: relative;
  width:940px;
  margin: 0 auto;
}
 nav
{position:absolute;
top:110px;
right:0}

nav li
{display: inline;
margin: 0 0 0 15px}

nav a
{ text-transform:uppercase; color:#000000;
font-weight: bold;
font-size: 22px;
text-decoration:none}

nav a:hover 
{ color: #848c94;
text-decoration: underline;}





.titulo-principal
{text-align: left;
padding-left: 20px}

em strong
{
color: red
}

#CatCoffe
{ width: 100%}

.principal
{background:#CCCCCC;
  text-align:center;
padding:30px}

.Beneficios
{background:#FFFFFF}



.listabeneficios
{ display:inline-block;
vertical-align:top;
width:20%;
margin-right:15%;
padding:20px}

.itens
{text-align: left;
font-style: italic;
}

.imagembeneficios
{width:50%}s
